<!DOCTYPE html>
<html lang="es">

{% extends 'base.html' %}

{% block title %}
Bienvenido
{% endblock %}

{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="hero padded">
    <div class="hero-content">
        <div class="left">
            <h1>Atenea Code</h1>
            <p class="row">Aprendamos juntos sobre desarrollo web, python y ciberseguridad</p>
            <a href="#contacto" class="btn">Contáctame</a>
        </div>
        <div class="right">
            <img src="{{ url_for('static', filename="aten.png")}}" width="500px"/>
        </div>
    </div>
</div>
{% include 'blog/section_second.html' %}
{% include 'blog/section_first.html' %}
{% endblock %}
</html>