<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="center padded">
    <div class="content padded">
        <div class="padded artpad">
            <h4 class="title">Artículos recientes.</h4>
        </div>
        <div class="row padded">
            <div class="card third">
                <h5 class="title">¿Qué son los tipos de datos primitivos en Python?</h5>
                <p>Python trabaja con tipo de datos primitivos de los cuales se derivan el resto de tipos de datos que ...</p>
                <a class="blue" href="#">Link aquí</a>
            </div>
            <div class="card third">
                <h6 class="title">Lo que no puedes hacer con las variables en Python.</h6>
                <p>Algo muy importante es que Python es Case-sensitive, esto quiere decir que distingue entre ...</p>
                <a class="blue" href="#">Link aquí</a>
            </div>
            <div class="card third">
                <h7 class="title">Python: comunidades, recursos y sus usos en tech.</h7>
                <p>Hay diferentes recursos y sitios en internet donde puedes aprender Python de manera gratuita y ...</p>
                <a class="blue" href="#">Link aquí</a>
            </div>
        </div>
    </div>
</div>