<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class='center'>
    <div class='content'>
        <div class='row'>
            <div class='left vert-pad'>
                <h2>Kenia Valverde</h2>
                <p class="row">Soy desarrolladora, construyo sitios web, aplicaciones en Python, y me gusta la ciberseguridad</p>
            </div>
            <div class='right'>
                <h3>Sigueme en mis redes sociales</h3>
                <p>En el siguiente enlace <a href='https://twitter.com/ateneacode' class="blue">Follow me</a></p>
            </div>
        </div>
    </div>
</div>