<div class='center'>
    <div class='content'>
        <div class='row vert-pad'>
            <div class='left padded'>
                <h2>Kenia Valverde</h2>
                <p>Soy desarrolladora y este es mi blog. Construyo sitios web, aplicaciones en Python, y me gusta la ciberseguridad</p>
            </div>
            <div class='right padded'>
                <h3>Sigueme en mis redes sociales</h3>
                <p>En el siguiente enlace <a href='https://twitter.com/ateneacode'>Follow me</a></p>
            </div>
        </div>
    </div>
</div>